$corFonteMarrom: rgb(180, 128, 61);
$familyFontePrincipal: 'Bree Serif', 'serif';

article{
    display: flex;
    margin-bottom: 4em;
    .article-image{
        width: 40%;
        height: 340px;
        display: inline-block;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    section{
        display: inline-block;
        width: 50%;
        height: 340px;
        padding-left: 3em;
        margin-left: 3em;
        border-left: 1px solid white;
        h1{
            color: $corFonteMarrom;
            font-family: $familyFontePrincipal;
            font-weight: normal;
        }
        p{
            font-size: 14pt;
        }
    }
}