$corFonteMarrom: rgb(180, 128, 61);
$familyFontePrincipal: 'Bree Serif', 'serif';

body{
    font-family: $familyFontePrincipal;
    background: black;
    color: white;
}

main{
    margin: 4em 5%;   
}

.landing-wrapper{
    background-image: url(../imgs/caixas-pretas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
