$corFonteMarrom: rgb(179, 147, 85);
$familyFontePrincipal: 'Bree Serif', 'serif';

body{
    font-family: $familyFontePrincipal;
    background-image: url(../imgs/caixas-pretas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

main{
    margin: 0 5%;   
}
